body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    font-size: 80px;
    font-weight: bold;
    margin: 10px;
}

.subtitle {
    font-size: 50px;
    font-weight: bold;
    margin: 10px;
}

.rule {
    font-size: 35px;
    font-weight: bold;
    margin: 10px;
}

.invite {
    font-size: 60px;
    font-weight: bold;
    margin: 17px;
}

#rock,
#paper,
#scissors {
    margin: 17px 100px;
    height: 200px;
    width: 300px;
    border-color: black;
    border-width: 20px;
    font-size: 40px;
    font-weight: bold;
    transition:all 0.07s;

}

button {
    margin: 20px;
    height: 100px;
    width: 200px;
    border-color: black;
    border-width: 15px;
    font-size: 20px;
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
    transition:all 0.07s;
}

.clicked {
    background-color: purple;
}

.hover {
    background-color: lavender;
}

#results,
#score,
#endGame {
    font-size: 20px;
    font-weight: bold;
    margin: 10px;

}

#score {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;

}

#end {
    margin: 30px;
}